@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


/* background setup */
.background {
    background-repeat:no-repeat;

    /* custom background-position */
    background-position:50% 50%;

    /* ie8- graceful degradation */
    background-position:50% 50%\9 !important;
}

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
   position:relative;
	vertical-align:middle;
	text-align:center;
}

.content-b img {
   height: 50%;
   margin-top: 15%;
}

section#social-networks{
   display: block;
   float: left;
   margin: 50px 0 0 100px;
   position: relative;
}

div.social-circle{
   background-color: #333;
   color: #fff;
   display: block;
   float: left;
   font-size: 40px;
   height: 100px;
   margin-left: 20px;
   position: relative;
   width: 100px;

   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;

   zoom: 1;
   filter: alpha(opacity=80);
   opacity: 0.8;
}

div.social-circle:hover{
   zoom: 1;
   filter: alpha(opacity=100);
   opacity: 1;
}

.bg-navyblue    {background-color: #3B5998 !important;}
.bg-skyblue     {background-color: #00aced !important;}
.bg-red         {background-color: #cb2027 !important;}
.bg-orange      {background-color: #dd4b39 !important;}

div.social-circle span{
   overflow: hidden;
   margin: auto;
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
}

div.social-circle span.fb{
   left: -10px;
}

/* visual styles */
body{
    margin:0;
    font-family:sans-serif;
    font-size:28px;
    line-height:100px;
	 color:#333;
    text-align:center;
}
section {
	/*background:#9ed100;*/
}
.not-fullscreen {
    height:50%;
}

/* Media Queries */
	@media only screen and (max-width: 959px) {
      .content-b img {
         height: 50%;
         margin-top: 15%;
      }
   }

	@media only screen and (min-width: 768px) and (max-width: 959px) {
      .content-b img {
         height: 55%;
         margin-top: 25.236%;
      }
   }

	@media only screen and (max-width: 767px) {
      .content-b img {
         height: 50%;
         margin-top: 15%;
      }
   }

	@media only screen and (min-width: 480px) and (max-width: 767px) {
      .content-b img {
         height: 35%;
         margin-top: 8.5%;
      }
   }

	@media only screen and (max-width: 479px) {
      .content-b img {
         height: 35%;
         margin-top: 30%;
      }
   }
